body {
	font-family: "Helvetica", sans-serif;
	background-color: rgba(230, 230, 230, 0.1);
}

span {
	color: rgba(0, 0, 0, 80%);
}

.btn {
	display: inline-block;
	border: none;
	text-decoration: none;
	/*background-color: white;*/
	/*font-size: 40px;*/
	/*font-family: Helvetica;*/
	font-weight: lighter;
	padding: 10px 20px;
	/*border: 1px solid #d3d3d3;*/
	/*border-radius: 10px;*/
	color: #2c1252;
	transition: color 0.3s ease;
	position: relative;
	z-index: 1;
}

.btn:hover {
	color: white;
}

.btn::before {
	position: absolute;
	content: "";
	top: -2px;
	right: -2px;
	bottom: -2px;
	left: -2px;
	background-image: linear-gradient(
		to left top,
		#FF00CEFF,
		#7f99ff
	);
	background-clip: border-box;
	z-index: -2;
	transition: opacity 0.2s linear;
	opacity: 0;
	/*border: 1px solid #ffffff;*/
	border-radius: 10px;
}

.btn::after {
	position: absolute;
	content: "";
	z-index: -1;
	top: 1px;
	right: 1px;
	bottom: 1px;
	left: 1px;
	background-color: white;
	border-radius: 7px;
	opacity: 0;
}

.btn:hover::before {
	opacity: 0.7;
}

@font-face {
	font-family: 'Digital';
	src: url('/fonts/ds-digital/DS-DIGI.TTF') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Digital Bold';
	src: url('/fonts/ds-digital/DS-DIGIB.TTF') format('truetype');
	font-weight: bold;
	font-style: normal;
}


:root {
	--red-color: rgb(250, 100, 100);
	--button-color: black; /* default then gets overridden */
	--button-color-red: var(--red-color);
	--button-color-green: rgb(32, 154, 102);
}

span.red-t {
	color: var(--red-color);
}

.end-btn.red-b {
	--button-color: var(--button-color-red);
}

.end-btn.green-b {
	--button-color: var(--button-color-green);
}