@font-face {
	font-family: 'Digital';
	src: url('/fonts/ds-digital/DS-DIGI.TTF') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Digital Bold';
	src: url('/fonts/ds-digital/DS-DIGIB.TTF') format('truetype');
	font-weight: bold;
	font-style: normal;
}

:root {
	--base-font-size: 16px;
	--text-s: 0.5rem;
	--text-m: 1rem;
	--text-l: 1.5rem;
	--text-xl: 2rem;
	--text-xxl: 3rem;

	--red-color: rgb(220, 107, 107);
	--green-color: rgb(90, 138, 119);
	--disabled-color: rgb(204, 204, 204);
	--grey-color: rgba(175, 175, 175, 30%);

	--button-color: black; /* default then gets overridden */
	--button-color-red: var(--red-color);
	--button-color-green: var(--green-color);
}

html {
	font-size: var(--base-font-size);
	font-family: Roboto, sans-serif;
}

body {
	background-color: rgba(230, 230, 230, 0.1);
	margin: 0;
	padding: 0;
}

span, p, a, h1, h2, h3 {
	color: rgba(0, 0, 0, 0.8);
}

span.red-t {
	color: var(--red-color);
}

span.green-t {
	color: var(--green-color);
}

.end-btn.red-b {
	--button-color: var(--button-color-red);
}

.end-btn.green-b {
	--button-color: var(--button-color-green);
}

.gr-text {
	background: linear-gradient(
		to left top,
		rgb(255, 0, 206),
		rgb(127, 153, 255)
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* selects the div that gets rendered from the cm-chessboard library */
.board > div:first-child {
	flex: 1;
	box-shadow: rgba(80, 80, 80, 1) 0px 3px 3px -2px,
	rgba(80, 80, 80, 1) 0px 5px 3px -3px,
	rgba(80, 80, 80, 1) 0px 8px 3px -4px,
	rgba(128, 128, 128, 0.5) 0px 16px 2px -5px,
	rgba(128, 128, 128, 0.3) 5px 5px 5px 7px;
}

.last-move-marker {
	fill: rgba(255, 0, 100, 0.3);
}

.roboto-thin {
	font-family: "Roboto", sans-serif;
	font-weight: 100;
	font-style: normal;
}

.roboto-light {
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	font-style: normal;
}

.roboto-regular {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.roboto-medium {
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-style: normal;
}

.roboto-bold {
	font-family: "Roboto", sans-serif;
	font-weight: 700;
	font-style: normal;
}

.roboto-black {
	font-family: "Roboto", sans-serif;
	font-weight: 900;
	font-style: normal;
}

.roboto-thin-italic {
	font-family: "Roboto", sans-serif;
	font-weight: 100;
	font-style: italic;
}

.roboto-light-italic {
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	font-style: italic;
}

.roboto-regular-italic {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-style: italic;
}

.roboto-medium-italic {
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-style: italic;
}

.roboto-bold-italic {
	font-family: "Roboto", sans-serif;
	font-weight: 700;
	font-style: italic;
}

.roboto-black-italic {
	font-family: "Roboto", sans-serif;
	font-weight: 900;
	font-style: italic;
}
